body{
    background-image: url(http://vignette3.wikia.nocookie.net/slitherio/images/5/50/Wiki-background/revision/latest?cb=20160425074249)
}
p{
    color: #0F965D;
    font-family: cursive;
    font-size: 25px;
    padding: inherit;
    margin: auto;
    
}
.container{
    text-align-last: center
}
h1{
    background-color: #33BB59;
    text-align: center;
}
img{
    display: block;
    margin: auto;
    position: relative;
    left: 0;
    top: 0;
}
h2{
    background-color: #009645
}