body{
    background-image: url(http://vignette3.wikia.nocookie.net/slitherio/images/5/50/Wiki-background/revision/latest?cb=20160425074249)
}
p{
    color: green;
    font-family: cursive;
    font-size: 18px;
    padding: inherit;
    margin: auto;
    
}
.container{
    text-align-last: center
}
h1{
    color: darkorange
}
img{
    display: block;
    margin: auto;
    
}