body {
 background-image: url(https://31.media.tumblr.com/e201ebb7cc103c1a4ac7c2cc1aceef18/tumblr_inline_nk1m65OvU21s9yrmw.jpg )
}
h1{
    text-align: center;
    background-color: aqua;
}
img{
    text-align: left;
    margin: auto;
}
p{
    color: #60FF58;
    font-size: 25px;
    
}
ol {
	color: #60FF58;
    font-family: cursive;
    margin: 100px;
    font-size: 20px;
}
iframe{
    display: block;
    margin: auto;
    width: 70%;
    
}
.container{
    font-family: cursive
}
.papas{
    height: 100px;
    width: 1000px;
}
a:link {
    font-family: fantasy;
    background-color: black;
    font-size: 20px;
    padding: 0px 10px;
    word-spacing: normal;
}
h2{
    background-color: darkturquoise;
    text-align: left;
}