body {
 background-image: url(http://cdn-s3.si.com/s3fs-public/images/2014-0608-Neymar.jpg)
}
h1{
    color: blueviolet;
    text-align: center
}
img{
    perspective-origin: right
}
p{
    color: yellow
}
ol{
    color: yellow
}
iframe{
    display: block;
    margin: auto;
    width: 90%;
}
h3{
    color: fuchsia;
    
}




